<div class="container">
  <form class="login-form">

    <p class="logo"><span style="color: #007057;"><fa-icon [icon]="logo"></fa-icon></span>
      Logowanie</p>

      <input type="email" class="form-control" id="floatingInput" placeholder="Email">
      <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Hasło">

        <div class="d-grid mt-5 mb-3">
          <button class="btn-light-green" type="submit"><fa-icon [icon]="loginIcon"></fa-icon> {{signin}}</button>
        </div>

        <a href="">Nie pamiętam hasła</a>

        <hr class="my-4">
        <div class="d-grid mb-2">
          <button class="btn-light-green" type="submit"><i class="bi bi-google"></i> Zaloguj przez Google</button>
        </div>
        <div class="d-grid">
          <button class="btn-light-green" type="submit"><i class="bi bi-microsoft"></i> Zaloguj przez Microsoft</button>
        </div>

        <strong><p class="mt-4">Nie masz jeszcze konta?</p></strong>
        <button class="btn-white" routerLink="/rejestracja">Zarejestruj się</button>
  </form>
</div>
