.login-form {
  background-color: #fff;
  padding: 70px;
  text-align: center;
  // border-radius: 12px;
  border-radius: 20px;
  margin: 35px;
  // width: 75vh;
  max-width: 545px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  transition-duration: 0.35s;
}

a:hover {
  color: #037e64;
  text-decoration: underline;
}

.form-control {
  text-align: center;
  background-color: whitesmoke;
  border: 0px;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #cfcfcf;
}

.logo {
  font-weight: bold;
  font-size: 33px;
  text-align: center;
  margin-bottom: 35px;
}
