<div class="container">
  <form class="login-form">
    <p class="logo"><span style="color: #007057;"><fa-icon [icon]="logo"></fa-icon></span>
      Zarejestruj się</p>

      <input type="email" class="form-control" id="floatingInput" placeholder="Imię">
      <input type="" class="form-control mt-3" id="floatingInput" placeholder="Nazwisko">

      <input type="" class="form-control mt-5" id="floatingInput" placeholder="Email">
      <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Hasło">
      <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Powtórz hasło">

  </form>
</div>
