<div class="row">
    <div class="col my-2">
        <div class="card">
          <img [src]="food1" class="card-img-top " alt="..." />
          <div class="card-body">
            <h5 class="card-title mb-4">Card title</h5>
            
            <button href="#" class="btn-light-green">Do koszyka</button>
          </div>
        </div>
      </div>

<div class="col my-2">
    <div class="card">
      <img [src]="food1" class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title mb-4">Card title</h5>
        
        <button href="#" class="btn-light-green">Do koszyka</button>
      </div>
    </div>
  </div>

  <div class="col my-2">
    <div class="card">
      <img [src]="food1" class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title mb-4">Card title</h5>
        
        <button href="#" class="btn-light-green">Do koszyka</button>
      </div>
    </div>
  </div>
  <div class="col my-2">
    <div class="card">
      <img [src]="food1" class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title mb-4">Card title</h5>
        <button href="#" class="btn-light-green">Do koszyka</button>
      </div>
    </div>
  </div>
  <div class="col my-2">
    <div class="card">
      <img [src]="food1" class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title mb-4">Card title</h5>
        <button href="#" class="btn-light-green">Do koszyka</button>
      </div>
    </div>
  </div>
</div>

  