<app-slideshow></app-slideshow>

<section class="container-fluid text-center bg-white py-5">
  <div class="container mb-4">

    <h1>Wygodne zakupy</h1>
    <p class="mb-5">Złóż zamówienie na dowolnym urządzeniu</p>

    <div class="row text-center text-white">
      <div class="col">
        <div class="green-box">
          <img [src]="smartfridge" />
        <figcaption class="my-2">Inteligentne lodówki</figcaption>
        </div>
      </div>
      <div class="col">
        <div class="green-box">
          <img [src]="phone" />
          <figcaption class="my-2">Aplikacja mobilna</figcaption>
        </div>
      </div>
      <div class="col">
        <div class="green-box">
          <img [src]="internet" />
        <figcaption class="my-2">Internet</figcaption>
        </div>
      </div>
    </div>
    </div>    
</section>

<!-- <div class="container-fluid text-center bg-white py-5">
  <div class="container">
    <h1>Wygodne zakupy</h1>
  <p class="mb-4">Złóż zamówienie na dowolnym urządzeniu</p>
  <div class="row text-center">
    <div class="col">
      <img [src]="smartfridge" />
      <figcaption class="my-2">Inteligentne lodówki</figcaption>
    </div>
    <div class="col">
      <img [src]="phone" />
      <figcaption class="my-2">Aplikacja mobilna</figcaption>
    </div>
    <div class="col">
      <img [src]="internet" />
      <figcaption class="my-2">Internet</figcaption>
    </div>
  </div>
  </div>
</div> -->

<div class="container-fluid text-center py-5">
  <div class="container">
    <h1>Smacznie i tanio</h1>
    <p class="mb-5">Oto najchętniej wybierane produkty!</p>
    <div class="">
      <app-food-card></app-food-card>
    </div>
  </div>
</div>




<!-- <div class="container-fluid bg-second pb-5">
    <div class="container text-center py-2">
  <h1 class="my-5 text-white">Nasi partnerzy</h1>
  <div class="row">

    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
    <div class="col">
      <div class="circle bg-warning">
        <fa-icon class="fa-3x" [icon]="faHamburger"></fa-icon>
      </div>
    </div>
  </div>
</div>
</div> -->

